<footer>
     <div class="f-info">
        <div class="f-info-socail"></div>
     </div>
     <div>Wandur lust Limited</div>
     <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
     </div>
</footer>