<% layout('/layout/bolierplate.ejs') %>

     <body>
          <h1>All Listings</h1>
          <form action="/listings/new" method="GET">
               <button> NEW FOrm</button>
          </form>

          <% for(let listings of allListings) { %>
               <li>
                    <a href="/listings/<%= listings.id%>">
                         <%= listings.title %>
                    </a>
               </li>
               <% } %>

     </body>