<% layout('/layout/bolierplate.ejs') %>

     <body>
          <h1>All Listings</h1>
          <!-- <form action="/listings/new" method="GET">
               <button> NEW FOrm</button>
          </form> -->

          <% for(let listings of allListings) { %>
               <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                              the card’s content.</p>
                    </div>
               </div>
               <% } %>

     </body>