<% layout('/layout/bolierplate') %>
     <br>
     <div class="row">
          <div class="col-8 offset-2">

               <h1>Create a New Listing</h1>

               <!-- form-section  -->

               <form action="/listings" method="POST" novalidate class="needs-validation">

                    <!-- labal and input tittle -->
                    <div class="mb-3">
                         <label for="title" class="form-label">Title</label>
                         <input class="form-control" type="text" placeholder="enter title" name="listing[title]"
                              required>

                         <!-- control-highlighter  -->
                         <div class="invalid-feedback">
                              Title is required
                         </div>


                    </div>


                    <!-- labal and input description  -->
                    <div class="mb-3">
                         <label for="description" class="form-label">Description</label>
                         <textarea name="listing[description]" class="form-control" required></textarea>

                         <!-- control-text  -->
                         <div class="invalid-feedback">
                              Description is required
                         </div>
                    </div>


                    <!-- label input for image  -->
                    <div class="mb-3">
                         <label for="image" class="form-label">Image link</label>
                         <input class="form-control" type="text" placeholder="img url/link" name="listing[image]">
                    </div>



                    <!-- label and input for price -->
                    <div class="row">
                         <div class="mb-3 col-md-4">
                              <label for="price" class="form-label">Price</label>
                              <input placeholder="enter price" class="form-control" name="listing[price]" required>


                              <!-- vaild-feedback  -->
                              <div class="invalid-feedback">
                                   Price is required
                              </div>
                         </div>


                         <!-- label and input for country -->
                         <div class="mb-3 col-md-8 ">
                              <label for="country">Country</label>
                              <input type="text" placeholder="enter country" class="form-control"
                                   name="listing[countrys]" required>

                              <!-- invalid-feedback -->
                              <div class="invalid-feedback">
                                   Country is required
                              </div>

                         </div>
                    </div>

                    <!-- label and input for location -->
                    <div class="mb-3">
                         <label for="location" class="form-label">Location</label>
                         <input type="text" placeholder="enter location" class="form-control" name="listing[location]"
                              required>

                         <!-- invalid-feedback  -->
                         <div class="invalid-feedback">
                              Location is required
                         </div>
                    </div>

                    <br>
                    <button class="btn btn-dark">Add</button>
               </form>
               <br>
          </div>
     </div>