<% layout('/layout/bolierplate') %>
     <br>
     <div class="row">
          <div class="col-8 offset-2">

               <h1>Create a New Listing</h1>
               <form action="/listings" method="POST">
                    <div class="mb-3">
                         <label for="title" class="form-label">Title</label>
                         <input class="form-control" type="text" placeholder="enter title" name="listing[title]">
                    </div>

                    <div class="mb-3">
                         <label for="description" class="form-label">Description</label>
                         <textarea name="listing[description]" class="form-control"></textarea>
                    </div>

                    <div class="mb-3">
                         <label for="image" class="form-label">Image link</label>
                         <input class="form-control" type="text" placeholder="img url/link" name="listing[image]">
                    </div>
                    <div class="row">
                         <div class="mb-3 col-md-4">
                              <label for="price" class="form-label">Price</label>
                              <input type="text" placeholder="enter price" class="form-control" name="listing[price]">
                         </div>

                         <div class="mb-3 col-md-8">
                              <label for="country">Country</label>
                              <input type="text" placeholder="enter country" class="form-control"
                                   name="listing[countrys]">
                         </div>
                    </div>

                    <div class="mb-3">
                         <label for="location" class="form-label">Location</label>
                         <input type="text" placeholder="enter location" class="form-control" name="listing[location]">
                    </div>

                    <br>
                    <button class="btn btn-dark">Add</button>
               </form>
               <br>
          </div>
     </div>